.account-page {
  background-image: url(/app/image/photo-min.jpg);
  background-attachment: fixed;
  background-size: 100% auto;
  width: 100%;
}

.account {
  width: 90%;
  height: auto;
  background: rgba(255, 255, 255, 0.7);
  margin: 10px auto;
}

.account-title {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.account-title span {
  font-family: Geometria;
  font-weight: bold;
  font-size: 50px;
  color: #FFE2C9;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 20px;
  line-height: 1.5em;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.account-until {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.information {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding-bottom: 30px;
  justify-content: space-around;
  width: 60%;
  border-bottom: 3px solid #BE2D29;
}

.information .photo img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.information .about-me__name {
  margin-bottom: 10px;
  font-family: Geometria;
  font-size: 30px;
}

.information .about-me__city {
  margin-bottom: 10px;
  font-family: Geometria;
  font-size: 25px;
}

.information .about-me__style {
  margin-bottom: 10px;
  font-family: Geometria;
  font-size: 20px;
}

.information .about-me__about-me {
  margin-bottom: 10px;
  font-family: Geometria;
  font-size: 20px;
}

.information .about-me__cost {
  margin-bottom: 10px;
  font-family: Geometria;
  font-size: 30px;
}

.information .edit {
  display: flex;
  align-items: flex-end;
}

.information .edit button {
  background: #BE2D29;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}

.information .edit button span {
  font-family: Geometria;
  font-size: 20px;
  color: #FFE2C9;
}

.download {
  margin: 10px auto 0px auto;
  width: 300px;
  height: auto;
  background-color: none;
  position: relative;
  color: #000;
  text-align: center;
  height: auto;
  border: 3px dashed #BE2D29;
}

.download__title {
  font-family: Geometria;
  font-size: 20px;
  font-weight: bold;
  color: #FFE2C9;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-top: 10px;
}

.download-img {
  display: block;
  position: absolute;
  width: 100%;
  top: 20px;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.fl_upld {
  width: 300px;
  margin-top: 20px;
}

#fl_inp {
  display: none;
}

.fl_upld label {
  cursor: pointer;
  background: #BE2D29;
  border-radius: 3px;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.fl_upld label:hover {
  background: #FFB87B;
}

#fl_nm {
  margin-top: 10px;
  color: #f00;
}

.upload-button {
  background-color: #BE2D29;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Geometria;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.upload-button:hover {
  border: 1px solid #000;
}

.gallery {
  width: 90%;
  margin: 20px auto;
  padding-top: 20px;
}

.gallery .photobox {
  position: relative;
}

.gallery .photobox .delete {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 75%;
  right: 0;
  width: 40px;
  height: 40px;
}
