@charset "UTF-8";
.page_2 {
  background-image: url(/app/image/DSC03855s.jpg);
  background-size: 100% auto;
  background-attachment: fixed;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form {
  width: 700px;
  height: 500px;
  background: white;
  transition: all 2s;
  border-radius: 10px;
  position: relative;
}

.form__title {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  font-family: Geometria;
  font-weight: bold;
  font-size: 50px;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.form__close {
  position: absolute;
  left: 96%;
  top: 0%;
}

.form__close img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.form__login {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}

.form__login__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__login__box__email {
  width: 100%;
  height: 50px;
  margin: 20px 0px;
  border: none;
  background: none;
  border-bottom: 1px solid #BE2D29;
  padding-left: 10px;
}

.form__login__box__password {
  width: 100%;
  height: 50px;
  margin: 20px 0px;
  border: none;
  background: none;
  border-bottom: 1px solid #BE2D29;
  padding-left: 10px;
}

.form__link {
  display: flex;
  justify-content: center;
  margin: 0px 30px;
  cursor: pointer;
}

.form__link__forget {
  color: #BE2D29;
  font-size: 15px;
  font-family: Geometria;
  font-weight: bold;
}

.form__button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form__button__entry {
  font-size: 20px;
  font-family: Geometria;
  font-weight: bold;
  margin: 0px 20px;
  background: none;
  border: none;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 2px 0 2px #424242,  0 1px 1px #DD524E,  -1px 0 1px #DD524E,  0 -1px 1px #DD524E;
}

.form__button__entry:hover {
  text-decoration: underline;
}

.form__button__registr:hover {
  text-decoration: underline;
}

.form__button__registr {
  font-size: 20px;
  font-family: Geometria;
  font-weight: bold;
  margin: 0px 20px;
  background: none;
  border: none;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 2px 0 2px #424242,  0 1px 1px #DD524E,  -1px 0 1px #DD524E,  0 -1px 1px #DD524E;
}

.forget a:visited {
  text-decoration: none;
  color: #BE2D29 !important;
  /* Цвет ссылок */
}

.forget a:active {
  text-decoration: none;
  color: #BE2D29 !important;
  /* Цвет ссылок */
}

.forget a {
  text-decoration: none;
  color: #BE2D29 !important;
  /* Цвет ссылок */
}

.forget a:hover {
  text-decoration: none;
  color: #BE2D29 !important;
  /* Цвет ссылок */
}

/* форма регистрации*/
.registration {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.form-reg {
  width: 700px;
  height: 500px;
  background: white;
  border-radius: 10px;
  position: relative;
  display: none;
}

.form-reg__close {
  position: absolute;
  left: 96%;
  top: 0%;
}

.form-reg__close img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.form-reg__title {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  font-family: Geometria;
  font-size: 50px;
  font-weight: bold;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.registration-form {
  margin: 0px 20px;
}

.registration-form__box {
  display: flex;
  flex-direction: column;
}

.registration-form__box input {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border: none;
  background: none;
  border-bottom: 2px solid #BE2D29;
  padding-left: 10px;
  font-size: 15px;
}

.registration-form__check {
  margin-top: 20px;
}

.registration-form__button {
  display: flex;
  justify-content: center;
}

.registration-form__button button {
  font-size: 20px;
  font-family: Geometria;
  font-weight: bold;
  color: #FFE2C9;
  background: none;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 2px 0 2px #424242,  0 1px 1px #DD524E,  -1px 0 1px #DD524E,  0 -1px 1px #DD524E;
  border: none;
  padding: 10px;
}

.registration-form__button:hover {
  text-decoration: underline;
}

.registration-form__confirm input {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #BE2D29;
  padding-left: 10px;
  font-size: 20px;
}

.form-check {
  margin: 5px 10px;
}

.form-check__input {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.form-check__label {
  margin-left: 20px;
  font-size: 15px;
}

.registration__form__button a:visited {
  text-decoration: none;
  color: #FFE2C9 !important;
  /* Цвет ссылок */
}

.registration__form__button a:active {
  text-decoration: none;
  color: #FFE2C9 !important;
  /* Цвет ссылок */
}

.registration__form__button a {
  text-decoration: none;
  color: #FFE2C9 !important;
  /* Цвет ссылок */
}

.registration__form__button a:hover {
  text-decoration: none;
  color: #FFE2C9 !important;
  /* Цвет ссылок */
}

.password {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
}

.form-pasw {
  width: 700px;
  height: 500px;
  background: white;
  border-radius: 10px;
  position: relative;
  display: none;
}

.form-pasw__close {
  position: absolute;
  left: 96%;
  top: 0%;
}

.form-pasw__close img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.form-pasw__title {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  font-family: Geometria;
  font-size: 50px;
  font-weight: bold;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.form-password {
  margin: 0px 20px;
}

.form-password__box {
  display: flex;
  flex-direction: column;
}

.form-password__box input {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border: none;
  background: none;
  border-bottom: 2px solid #BE2D29;
  padding-left: 10px;
  font-size: 15px;
}

.form-password__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-password__button button {
  font-size: 20px;
  font-family: Geometria;
  font-weight: bold;
  margin: 0px 20px;
  background: none;
  border: none;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 2px 0 2px #424242,  0 1px 1px #DD524E,  -1px 0 1px #DD524E,  0 -1px 1px #DD524E;
}

.form-password__button:hover {
  text-decoration: underline;
}

.form-password__code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  display: none;
}

.form-password__code__title {
  font-family: Geometria;
  font-size: 40px;
  font-weight: bold;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.form-password__code__box input {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border: none;
  background: none;
  border-bottom: 2px solid #BE2D29;
  padding-left: 10px;
  font-size: 15px;
}

.form-password__code__button {
  text-align: center;
  margin-top: 20px;
}

.form-password__code__button button {
  font-size: 20px;
  font-family: Geometria;
  font-weight: bold;
  margin: 0px 20px;
  background: none;
  border: none;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 2px 0 2px #424242,  0 1px 1px #DD524E,  -1px 0 1px #DD524E,  0 -1px 1px #DD524E;
}

.form-password__code__button:hover {
  text-decoration: underline;
}

.modal-body p {
  font-size: 20px;
  font-weight: bold;
}
