@charset "UTF-8";
.page {
  background: #FFB87B;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.personal {
  display: flex;
  flex-direction: column;
}

.personal-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.personal-box__title {
  display: flex;
  justify-content: center;
}

.personal-box__title span {
  align-self: center;
  font-family: Geometria;
  font-weight: bold;
  font-size: 50px;
  color: #FFE2C9;
  text-transform: uppercase;
  line-height: 1.5em;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.personal-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.personal-information__photo {
  margin-right: 20px;
}

.personal-information__photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.personal-information__content .name {
  font-size: 40px;
  font-family: Geometria;
  font-weight: bold;
  color: #BE2D29;
}

.personal-information__content .city {
  font-size: 30px;
  font-family: Geometria;
  font-weight: bold;
  margin-top: 10px;
}

.personal-information__content .style {
  font-size: 20px;
  font-family: Geometria;
}

.personal-information__content .about-me {
  font-size: 20px;
  font-family: Geometria;
}

.personal-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.personal-button button {
  background: #BE2D29;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.personal-button span {
  font-family: Geometria;
  font-size: 25px;
  font-weight: bold;
  color: #FFE2C9;
}

.personal-button a:visited {
  text-decoration: none;
  color: #FFE2C9 !important;
  /* Цвет ссылок */
}

.personal-button a:active {
  text-decoration: none;
  color: #FFE2C9 !important;
  /* Цвет ссылок */
}

.personal-button a {
  text-decoration: none;
  color: #FFE2C9 !important;
  /* Цвет ссылок */
}

.personal-button a:hover {
  text-decoration: none;
  color: #FFE2C9 !important;
  /* Цвет ссылок */
}

.personal-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  border-top: 1px solid #BE2D29;
  padding-top: 15px;
}

.personal-gallery img {
  width: auto;
  height: 200px;
  margin: 3px;
  cursor: pointer;
}

.personal-gallery img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
