.page-error{
	background: #FFB87B;
}
.error-content{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;

	&__text{
		text-align: center;
		margin-top: 100px;
		font:{
			family: Geometria;
			weight: bold;
		}
		
		&__ur1{
			font:{
				size: 100px;
			}
			text-transform: uppercase;
			color: rgb(190, 45, 41);
			text-shadow: 5px 0 5px #424242, 
                 0 1px 1px #DD524E, 
                 -1px 0 1px #DD524E, 
                 0 -1px 1px #DD524E;
		}
		&__ur2{
			font:{
				size: 40px;
			}
			text-transform: uppercase;
			color: rgb(190, 45, 41);
			text-shadow: 6px 6px 6px rgba(0,0,0,0.2);
		}
		&__ur3{
			font:{
				size: 30px;
			}
			color: rgb(190, 45, 41);
		}

	}

   &__img{
   	display: flex;
   	justify-content: center;
   	margin: 50px 0px;
    
   	img{
   		width: 500px;
   		height: 300px;
   	}
   }

   &__button{
   	display: flex;
   	justify-content: center;
   
   .return{
   	background: rgba(190, 45, 41,1);
   	border: none;
   	border-radius: 30px;
   	padding: 10px 20px;

   	span{
   		font:{
   			family: Geometria;
   			size: 20px;
   			weight: bold;
   		}
   		text-transform: uppercase;
   		color: #FFE2C9;
   	}
   }
   .return:hover{
   	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.5s;
   }
 }

}
.return a:visited{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.return a:active{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.return a{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.return a:hover{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
