@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
*, *:before, *:after{box-sizing:border-box}
.page{
	background-image: url(/app/image/photo-min.jpg);
	background-size: 100% auto;
	background-attachment: fixed;
	background-size: 100% auto;
	max-width: 1920px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: Geometria;
}
.fon{
	background: rgba(255, 226, 201,0.3); 
	background-size: 100% auto;
	width: 100%;
	height: 970px;
	background-attachment: fixed;
	background-size: 100% auto;
}

.menu{
	display: flex;
	padding: 50px 0;
	justify-content: space-between;
	z-index: 1;
	background: #FFB87B;

	&__left{
		margin-left: 20px;
		font:{
			family: Arial;
			weight: bold;
			size: 15px;
		}
		color: #9c9c9c;
	}
	&__right{
   display: flex;
   justify-content: center;
   width: 100%;
   
    &__text{
   	padding-right: 40px;
   	padding-left: 40px;
   	font:{
   	   weight: bold; 
   	   size: 15px;
    }
    color: #FFE2C9;
    transition: all 1s;
    padding-bottom: 5px;
    border-bottom: 3px solid #FFE2C9;
   }

   &__link{
   	padding-right: 40px;
   	padding-left: 40px;
   	text-transform: uppercase;
   	font:{
   	   weight: bold; 
   	   size: 15px;
    }
    color: #BE2D29;
    transition: all 1s;
    padding-bottom: 5px;
    border-bottom: 3px solid #FFE2C9;
   }

   &__link:hover{
      font-size: 25px;
      color: #FFE2C9;
      }
	}
}

.content{
	display: flex;
	flex-direction: column;
} 
.content-top{
	display: flex;
	flex-direction: column;
  width: 100%;
  position: relative;


	&__textt{
		width: 100%;
		height: 800px;
		display: flex;
    justify-content: flex-start;
    transition: all 1s;
    background: #FFB87B;
    padding-left: 90px;
    padding-top: 70px;
    word-wrap: break-word;
    text-align: center;
    span{
      font:{
    	  family: Geometria;
    	  weight: bold; 
    	  size: 90px;
    	  stretch: ultra-condensed;
      }
      text-transform: uppercase;
      line-height: 1.2em;
      transform: rotate(0deg);
      color: #FFE2C9; 
      text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    }
    background-size:cover;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    shape-margin: 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);
	}

	&__img{
		position: absolute;
		top: 50%;
		right: 0%;
		width: 100%;
		display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size:cover;
    shape-outside: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    shape-margin: 0px;
    clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
	img{
		width: 700px;
		height: 400px;
	
	}
}
}
.content-search{
	position: absolute;
	width: 100%;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	flex-direction: row;

	padding: 25px;

	 &__button{
     padding: 10px 40px;
     background: #BE2D29;
     border-radius: 30px;
     border: none; 
     cursor: pointer;
     font: {
     	family: Geometria;
     	size: 20px;
     	weight: bold;
     }
     color: #FFE2C9;
     text-transform: uppercase;
	 }

	&__button:hover{
		transition: all 1s;
		box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
	}
}

.fon2{
	background-image: url(/app/image/photo-min.jpg);
	background-attachment: fixed;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
}

.totop{
	position: fixed;
	bottom: 50px;
	right: 50px;

.totop-button{	
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	transform: translate(-50%, -50%);
	opacity: 0.5;
}
.totop-button:hover{
  opacity: 1;
}
}

.content2{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__title{
		font: {
			size: 40px;
			weight: bold;
		}
		text-transform: uppercase;
		justify-content: center;
		color: #ffe2c9;
	  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	  margin-top: 30px;
	}
}
.content2-block{
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;

  &__container{
  	display: flex;
  	flex-direction: column;
	  align-items: center;
  	background: #FFE2C9;
  	width: 350px;
  	height: 350px;
  	border-radius: 50px;
  	margin: 0px 20px;
  	position: relative;

  	&__img{
  		margin-top: 20%;
  	img{
      width: 100px;
      height: 100px;
  	}
  }

  	&__title{
  		opacity: 0;
  	}
  	&__title:hover{
  		opacity: 1;
  		font:{
  			family: Geometria;
  			size: 40px;
  			weight: bold;
  		}
  		color: #BE2D29;
  		margin: 0px 0px;
  		text-align: center;
  		position: absolute;
  		padding-top: 45%;
  		white-space: nowrap;
  	  background: rgba(255,255,255,0.9);
  	  width: 350px;
  	  height: 350px;
  	  border-radius: 10px;
  	  transition: all 2s;
  	}
  
    &__text{
    	font: {
    		family: Geometria;
    		size: 20px;
    		weight: bold;
    	}
    	text-align: center;
    	color: #BE2D29;
    	margin: 0px 20px;    
    }

  }
  &__container:hover{
  	width: 350px;
  	height: 350px;
  	border-radius: 10px; 
  	transition: all 1s;
  }
}
.fon3{
	background-image: url(/app/image/photo-min.jpg);
	background-attachment: fixed;
	background-size: 100% auto;
	width: 100%;
}
.gal{
  width: 90%;
  height: 100%;
  background: rgba(255, 226, 201,0.3);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 20px;

   &__more{
  	margin: 30px auto;
  	border: none;
  	background: #BE2D29;
  	border-radius: 30px;
  	padding: 5px 15px;
  	cursor: pointer;
  	span{
  		font:{
  			family: Geometria;
  			size: 20px;
  			weight: bold;
  		}
  		color: #FFE2C9;
  	}
  }
}
	.gallery img{
	 width: auto;
	 height: 200px;
   margin:2px; /* внешние отступы картинок */
   border:0px solid #FFE2C9; /* рамка картинок */
}
a.photo:hover img{
 -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.fon4{
	background-image: url(/app/image/photo-min.jpg);
	background: #FFB87B;
	background-attachment: fixed;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
}
.footer{
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 30px 0px;
	font:{
		family: Geometria;
		size: 20px;
		weight: bold; 
	}
		color: #FFE2C9; 
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

.menu__right__link a:visited{
	text-decoration: none;
  color: #BE2D29 !important; /* Цвет ссылок */
}
.menu__right__link a:active{
	text-decoration: none;
  color: #BE2D29 !important; /* Цвет ссылок */
}
.menu__right__link a{
	text-decoration: none;
  color: #BE2D29 !important; /* Цвет ссылок */
}
.menu__right__link a:hover{
	text-decoration: none;
  color: #BE2D29 !important; /* Цвет ссылок */
}
.gal__more a:visited{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.gal__more a:active{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.gal__more a{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.gal__more a:hover{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}