.page{
	background: #FFB87B;
	max-width: 1920px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.personal{
	display: flex;
	flex-direction: column;
}

.personal-box{
	display: flex;
	justify-content: center;
	flex-direction: column;

		&__title{
			display: flex;
			justify-content: center;

				span{
		      align-self: center;
		      font:{
			      family: Geometria;
			        weight: bold;
			        size: 50px;
		      }
		      color: #FFE2C9;
		      text-transform: uppercase;
          line-height: 1.5em;
          text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	      }
		}
}

  .personal-information{
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	margin-top: 30px;

  	&__photo{
		margin-right: 20px;
		img{
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
	}

		&__content{

		  .name{
        font:{
      	  size:40px;
      	  family: Geometria;
      	  weight: bold;
        }
        color: #BE2D29;
		  }
		  .city{
        font:{
      	  size: 30px;
      	  family: Geometria;
      	  weight: bold;
        }
        margin-top: 10px;
		  }
		  .style{
        font:{
       	  size: 20px;
       	  family: Geometria;
        }
		  }
		  .about-me{
        font:{
       	  size: 20px;
       	  family: Geometria;
        }
		  }
	  }
  }
  .personal-button{
  	display: flex;
  	justify-content: center;
  	cursor: pointer;

  	button{
  		background: #BE2D29;
  		border: none;
  		padding: 5px 10px;
  		border-radius: 3px;
  	}
  	span{
  		font:{
  			family: Geometria;
  			size: 25px;
  			weight: bold;
  		}
  		color: #FFE2C9;
  	}
  }
.personal-button a:visited{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.personal-button a:active{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.personal-button a{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}
.personal-button a:hover{
	text-decoration: none;
  color: #FFE2C9 !important; /* Цвет ссылок */
}

.personal-gallery{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 20px;
	border-top: 1px solid #BE2D29;
	padding-top: 15px;


	img{
		width: auto;
		height: 200px;
		margin: 3px;
		cursor: pointer;
	}
	img:hover{
	-webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
	}
}
