.page{
	background: #FFB87B;
	max-width: 1920px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.personal{
	display: flex;
	flex-direction: column;
}

.personal-box{
	display: flex;
	justify-content: space-between;

	&__box{

		&__title{
			display: flex;
			justify-content: center;

						&__title{
		          align-self: center;
		          font:{
			          family: Geometria;
			          weight: bold;
			          size: 50px;
		          }
		          color: #FFE2C9;
		          text-transform: uppercase;
              line-height: 1.5em;
              text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	          }
		}

		&__message{
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			position: fixed;
			right: 10px;
			bottom: 10px;
			cursor: pointer;

			&__background{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background: #FFE2C9;
				position: relative;
			}
			&__chat{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 70px;
				height: 70px;
				transform: translate(-50%, -50%);
		}
		}
	}

   &__inf{
   	display: flex;
	  margin-top: 50px;
	  margin-right: 20px;
	  width: 700px;

	&__photo{
		align-self: center;
		margin-right: 20px;
		img{
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}
	}

	&__content{

		&__name{
      font:{
      	size:40px;
      	family: Geometria;
      	weight: bold;
      }
      color: #BE2D29;
		}
		&__city{
      font:{
      	size: 30px;
      	family: Geometria;
      	weight: bold;
      }
      margin-top: 10px;
		}
		&__style{
       font:{
       	size: 20px;
       	family: Geometria;
       }
		}
		&__about-me{
       font:{
       	size: 20px;
       	family: Geometria;
       }
		}
	}

}


&__galery{
 box-sizing: border-box;
 order: -1;
}
 }
label[for] {
 cursor: pointer;
}
 
input[type="checkbox"] {
 display: none;
}
 
.lightbox, .grid {
 width: 50%;
 position: absolute;
 top: 100px;
 left: 20px;
}
 
.lightbox {
 z-index: 1;
 min-height: 100%;
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
 -webkit-transition: -webkit-transform .5s ease-out;
 transition: transform .5s ease-out;
}
.lightbox img {
 position: fixed;
 top: 30%;
 left: 50%;
 max-width: 86%;
 max-height: 86%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
 
input[type="checkbox"]:checked + .lightbox {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
 
input[type="checkbox"]:checked ~ .grid {
 opacity: .125;
}
 
.grid {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-box-align: start;
 -webkit-align-items: flex-start;
 -ms-flex-align: start;
 align-items: flex-start;
 -webkit-align-content: flex-start;
 -ms-flex-line-pack: start;
 align-content: flex-start;
 z-index: 0;
 height: 80%;
 padding: 5px;
 text-align: center;
 -webkit-transition: opacity .75s;
 transition: opacity .75s;
}
.grid .grid-item {
 display: inline-block;
 width: 30%;
 padding: 5px;
 opacity: .75;
 -webkit-transition: opacity .5s;
 transition: opacity .5s;
}
.grid .grid-item:hover {
 opacity: 1;
}
@media screen and (max-width: 1024px) {
 .grid .grid-item {
 width: 50%;
 }
}
@media screen and (max-width: 480px) {
 .grid .grid-item {
 width: 100%;
 }
}
.grid img {
 max-width: 100%;
 max-height: 100%;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}